/* restoring browser effects */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* setting up all the same properties to the body */
body{
    background-color: rgb(26, 26, 26);
    color: rgb(145, 145, 145);
}

.main_heading{
    display: flex;
    margin: 2em;
    justify-content: center;
    color:white;
}

.main_box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 0;
}

.timeline{
    width: 50%;
    height: auto;
    max-width: 50em;
    margin: 0 auto;
    position: relative;
}

.timeline ul{
    list-style: none;
}

.timeline ul li{
    padding: 1.25em;
    background-color: #1349e9dc;
    color: rgb(245, 235, 235);
    border-radius: .6em;
    margin-bottom: 1.25em;
}

.timeline ul li:last-child{
    margin-bottom: 0;
}

.timeline-data h1{
    margin-bottom: .75em;
    line-height: 2em;
}

.timeline-data p{
    line-height: 2em;
}
.date{
    font-size: 1em;
    font-weight: 300;
    letter-spacing: .125em;
    margin-bottom: .5em;
}

.timeline-data{
    animation: move 3s;
}

/* this is used for creating our time-line responsive for
    both laptops and mobile-phone */
@media only screen and (min-width:40em){
    .timeline::before{
        content:'';
        position: absolute;
        height: 100%;
        width: .25em;
        background-color: red;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline ul li{
        width: 50%;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-2em);
        border-radius: 2em 0 2em 2em;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(2em);
        border-radius: 0 2em 2em 2em;
    }
    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 1.25em;
        width: 1.25em;
        background-color: grey;
        border-radius: 50%;
        top: 0;
    }
    .timeline ul li:nth-child(odd)::after{
        right: -2em;
        transform: translate(50%,-50%);
    }
    .timeline ul li:nth-child(even)::after{
        left: -2em;
        transform: translate(-50%,-50%);
    }
    .timeline ul li:hover::after{
        background-color: chartreuse;
        transform: scale(2em);

    }
    .timeline li:hover{
        background-color: rgb(70, 70, 255);
        /* animation: move 3s; */
    }
    .date{
        position: absolute;
        top: -2em;
    }
}


@keyframes move{
    0%{
        transform: translate(-30em);
    }
    100%{
        transform: translate(0em);
    }
}